

@media (min-width: 960px) {
  #text-container{
    text-align: center;
    vertical-align: middle;
    width: 700px;
    margin: 30px auto;
  }
}

@media (max-width: 960px) {
  #text-container{
    text-align: center;
    vertical-align: middle;

  }
  p{
    display: inline-block;
    margin: 20px;
    margin-bottom: 40px;
  }
}
