
 <main>


  <section class="bigtitle">


    <div id="text-container">
      <h2 class="bigtitle-title">About</h2>
    <p>
      Hi!<br>
      My name is Tatiana Pavlov, I`m a web designer and developer and I`m passionate about
      cooking and
      discovering new places with tasty food in my hometown - Jerusalem. Contact me if you want to
      book a culinary toor or get some awesome recipe, or if you want me to build a stunning web page
      for your business!
    </p>
    </div>
  </section>



</main>
