

@media (min-width: 960px) {
  #text-container{
    text-align: center;
    vertical-align: middle;
    width: 600px;
    margin: auto;
    line-height: 1.8;
  }
}


#text-container{
  margin: 40px auto;
  font-size: 1.5rem;
    padding: 2.5rem;
    text-align: center;
    border-radius: 3px;
    box-shadow: 0 1.5rem 4rem rgba(0,0,0, .15);
}

@media (max-width: 960px) {
  #text-container{
    text-align: center;
    vertical-align: middle;
    margin: auto;
    padding: 5px;
  }
}
