
<main>

  <section class="bigtitle">

    <h2 class="bigtitle-title">Stay In Touch!</h2>
    <div id="text-container">

      Call me: <a href="tel:+97255520457">+972 55520457</a><br>
      or contact me and subscribe in the social networks:<br>


      <div class="social">
        <i class="fab fa-facebook-square  fa-3x" ></i>
      </div>
      <div class="social">
        <i class="fab fa-instagram  fa-3x" ></i>
      </div>
      <div class="social">
        <i class="fab fa-google-plus-square  fa-3x" ></i>
      </div>
    </div>

  </section>



</main>
