
 <div class="row mt-2" >
    <div class="navbar__menu col-3">
        <button class="navbar__menu__item--wrapper navbar__menu__item--wrapper--title">
        <a  class="navbar__menu__item navbar__menu__item">
        <h1 class="title">JLM Restaurants</h1></a>
        </button>
    </div>
<div class="col-6">
<mat-toolbar>
  <mat-toolbar-row>
    <div class="navbar__menu">
      <button class="navbar__menu__item--wrapper">
      <a  class="navbar__menu__item" [routerLink]=""> Home </a>
      </button>
     <button class="navbar__menu__item--wrapper">
      <a  class="navbar__menu__item" [routerLink]="'search'"> Places </a>
     </button>
    <button class="navbar__menu__item--wrapper">
      <a  class="navbar__menu__item" [routerLink]="'about'"> About </a>
    </button>
    <button class="navbar__menu__item--wrapper">
      <a  class="navbar__menu__item" [routerLink]="'contact'"> Contact </a>
    </button>
    <button *ngIf="loggedIn()" class="navbar__menu__item--wrapper">
      <a  class="navbar__menu__item"  [routerLink]="'user'"> User Profile </a>
    </button>
      <button *ngIf="loggedIn()" class="navbar__menu__item--wrapper">
      <a  class="navbar__menu__item"  (click)="logout()"> Log Out </a>
      </button>
    </div>
  </mat-toolbar-row>
  </mat-toolbar>
</div>
<div class="col-3"></div>
</div>


