@import "../../variables.scss";


a{
  text-decoration: none;
  color: white;
}
 button{
  display: block;
  color: black;
  cursor: pointer;
  background-color: $primary-light;
  box-sizing: border-box;
  margin: 0em;
  font: 'Fira-Sans';
  border: none;
  border-style: none;
  border-radius: 5px;
  &:active, &:hover, &:focus, &:focus-within, &:visited{
    outline: none;
  }

 }

.navbar{
  &__menu{
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    &__item{
      font-size: large;
      box-sizing: border-box;
      padding: .5rem 0;
       margin-bottom: 2px;
      &--wrapper{
        box-sizing: border-box;
        width: 5rem;
        background-color: $secondary-light;
        width: 6rem;
        height: 2.5rem;
        margin: .5rem 1rem;
        &:active, &:focus, &:hover, &:focus-within{
          background: $secondary-dark;
        }
        &--title{
           & > a{
            font-size: 28px;
            font-weight: 700;
            color: $tertiary-light;
            &:active, &:focus, &:hover, &:focus-within{
              color: $tertiary;
            }
           }
           box-sizing: content-box;
           width: 15rem;
           margin-top: .7rem;
           margin-left: 2rem;
           background-color: $primary-light;
           &:active, &:focus, &:hover, &:focus-within{
            background-color: $primary-light;
          }

          }
        }
      }

      }
    }

    .title{
      width: 15rem;
    }



.mat-toolbar{
  background: $primary-light;
  font-family: 'Fira-Sans', sans-serif;
}








// .title{
//   text-transform: to-upper-case;
//   padding: 0 4rem;
// }

