@media (min-width: 620px) {
  main {
    column-count: 2;
    column-gap: 20px;
  }
  /*this line is preventing spreading the text to several columns*/
  section {
    break-inside: avoid;
  }
}

@media (min-width: 960px) {
  main {
    column-count: 3;
  }
}


