
<main>
  <section class="bigtitle">
    <h2 class="bigtitle-title">Search the food by categories:</h2>
    <p>Find the best place for dinner according to your criterias - search for kosher, luxury, breakfast and many more categories...</p>
    <a href="#" class="info-link">Learn more...</a>
  </section>

  <section class="bigtitle">
    <h2 class="bigtitle-title">Top 3 places in Jerusalem:</h2>
    <ol>
      <li>Menza</li>
      <li>Rimon</li>
      <li>Roladin</li>
    </ol>
    <a href="#" class="info-link">See all the list...</a>
  </section>

  <section class="bigtitle">
    <h2 class="bigtitle-title">Search by name:</h2>
    <p>Some Text goes here, some text goes here, some text goes here, some text goes here.</p>
    <a href="#" class="info-link">Learn more...</a>
  </section>

</main>

