
<main>

    <section  *ngIf="!loggedIn()">
      <div class="text-container">
        <div class="w3-row"  >

            <div class="w3-container" >


                <div class="center">
                <button class="btn-main btn-signup" routerLink="register">
                  Click Here to Sign Up!</button>
                </div>
             
              <div>

                <form  #loginForm="ngForm" class="w3-container w3-card-4" (ngSubmit)="login()">

                  <div class="w3-section">
                      <label for="username">Username</label>
                    <input class="w3-input" type="text" name="username"
                    required required [(ngModel)]="model.username">

                  </div>
                  <div class="w3-section">
                      <label for="password">Password</label>
                    <input class="w3-input" type="text"  name="password"
                    required  type="password" [(ngModel)]="model.password">

                  </div>
                  <div class="center">
                  <button class="btn-main btn-signin" style="margin-bottom: 20px;"
                  [disabled]="!loginForm.valid" type="submit">Sign in</button>
                </div>
                </form>

              </div>

                </div>

        </div>


      </div>
      </section>
      <section  *ngIf="loggedIn()">
        <div class="text-container">
          <h2>Explore the places</h2>
           <app-place-list></app-place-list>
        </div>
      </section>
</main>




