.btn {
    -webkit-border-radius: 28;
    -moz-border-radius: 28;
    border-radius: 28px;
    font-family: Arial;
    color: #ffffff;
    font-size: 20px;
    padding: 7px;
    text-decoration: none;
  }
  
  .btn:hover {
    filter: brightness(85%);
    text-decoration: none;
  }
  