.background{
  height: 525px;
  display: block;
  position: relative;

}

.background::after {
  content: "";
  background: url("..\assets\jerusalem1.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0.25;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;
}
/* background-image: url("..\assets\jerusalem1.jpg");
background-position: center;
background-repeat: no-repeat;
background-size: cover; */
