<main>

    <section class="bigtitle">
  
      <h2 class="bigtitle-title">Hello {{user?.username}}</h2>
      <div id="text-container">
      <h2>Personal Info:</h2>

      <h3>Username:</h3>
      <p>{{user?.username}}</p>
      <h3>Known As:</h3>
      <p>{{user?.knownAs}}</p>
      <h3>Age: </h3>
      <p>{{user?.age}}</p>
      <h3>Created: </h3>
      <p>{{user?.created}}</p>
      <h3>Last Active: </h3>
      <p>{{user?.lastActive}}</p>
      </div>
     
    </section>
  
  
  
  </main>
  
