/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/prebuilt-themes/indigo-pink.css';

@import './screenWidthManager.scss';


body{
  font-family: 'Lato', sans-serif;
  font-size: 16px;
}


/* styles */

:root {
  --blue: #34495e;
  --green: #e74c3c;
  --yellow: #C9C243;
  --orange: #FFA644;
  --red: #3498db;
  --header-color: #f7f1e3;
  --header-text-color: #2c2c54;
  --header-jlm-color: #ff5252;
  --tag-color: #227093;
  --tag-hover-color: #ff5252;
  --signup-color: #ff5252;
  --signin-color: #227093
}


html{
//   @media only screen and (max-width: $bp-large) {
//     font-size: 50%;
// }
}

main {
  max-width: 1500px;
  margin: 0 auto;
  padding: 20px;
  height: 90%;
}

button{
  border: none;
    margin: 0;
    padding: 0;
    width: auto;
    overflow: visible;

    background: transparent;

    /* inherit font & color from ancestor */
    color: inherit;
    font: inherit;

    /* Normalize `line-height`. Cannot be changed from `normal` in Firefox 4+. */
    line-height: normal;

    /* Corrects font smoothing for webkit */
    -webkit-font-smoothing: inherit;
    -moz-osx-font-smoothing: inherit;

    /* Corrects inability to style clickable `input` types in iOS */
    -webkit-appearance: none;
}

.title {
  font-size: 2.6em;
  text-align: center;
  color: white;
  margin-bottom: 20px
}

.text-container{
  padding: 30px 200px;
  line-height: 150%;
  @media only screen and (max-width: $bp-medium) {
    padding: 20px 50px;
}
}

.btn-main{
  display: inline-block;
  font-size: 1.05em;
  color: #fff;
  background-color: var(--tag-color);
  text-decoration: none;
  padding: .3em 1em;
  border-radius: 1.5em;
  margin: .2em;
}


.figure-img {
  display: block;
  width: 100%;
  object: fit;
}

h2 {
  font-size: 1.4em;
  padding: 10px;
}

p, ol, li{
  margin-bottom: 1em;
  padding: 0 10px;
}

.info-link {
  text-decoration: none;
  color: var(--green);
  padding: 10px;
  display: block;
}

.options {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 10px;
  border-top: 3px solid var(--red);
  border-radius: 3px;
  background-color: white;
}



section {
  border-radius: 3px;
  background-color: white;
  margin-bottom: 20px;
  overflow: hidden;
}

.section-img {
  display: block;
  padding: 10px;
  margin: 0 auto;
}



.bigbottom-link {
  background-color: var(--green);
  color: white;
}

.profile {
  width: 80%;
  border-radius: 50%;
  margin-bottom: 10px;
}

.tags-list li{
  display: inline;
  padding: 5px;
  margin: 5px 10px;
  font-size: 19px;
}
.tag-list ul{
  margin: 20px;
  padding: 20px;

}
.searchByTag, .searchByName{
  margin: 0 0 50px 0;
}

.tag-link:link,
.tag-link {
display: inline-block;
font-size: 1.05em;
color: #fff;
background-color: var(--tag-color);
text-decoration: none;
padding: .3em 1em;
border-radius: 1.5em;
margin: .2em;
}
.tag-link:focus,
.tag-link:hover
{
background-color:var(--tag-hover-color);
cursor: pointer;
}
.tag-link:active{
  background-color:var(--tag-hover-color);
}
.place{
  margin: 50px;
  border-bottom: 1px solid;
}



