/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/prebuilt-themes/indigo-pink.css';
@import "reset.css";
@import "variables.scss";


/* styles */

html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
*, *:before, *:after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit;
  }



:root {
  --blue: #34495e;
  --green: #e74c3c;
  --yellow: #C9C243;
  --orange: #FFA644;
  --red: #3498db;

}

body {
  font-family: 'Fira Sans', sans-serif;
  background-color: $primary-light;
}


p, ol, li{
  margin-bottom: 1em;
  padding: 0 10px;
}

p{
  font-size: 18px;
}










