$primary: #ffedc2;
$primary-dark: #cbbb91;
$primary-light: #fffff5;

$secondary: #005ccb;
$secondary-dark: #003499;
$secondary-light: #5c88ff;

$tertiary: #ff1744;
$tertiary-dark: #c4001d;
$tertiary-light: #ff616f;

