
<mat-list *ngIf="this.foundPlaces.length > 0">
    <mat-list-item  class="place" *ngFor="let place of this.foundPlaces">
      <!-- <img matListAvatar src= {{place.photoLocation}} > -->
      <h4 mat-line>{{place.name}}</h4>
      <p mat-line> {{place.description}}</p>
      <!-- <mat-list-item *ngFor="let tag of place.tags">
        <p mat-line> {{tag.text}}</p>
      </mat-list-item> -->
      <div class="tags">
      <ul class="tags-list">
          <li  *ngFor="let tag of place.tags">
            <a class="tag-link">{{tag.text}}</a>
          </li>
      </ul>
    </div>
    </mat-list-item>
</mat-list>


