
<main>
    
    
  <section class="bigtitle">
    <h2 class="bigtitle-title">Search the food by categories:</h2>
    <p>Find the best place for dinner according to your criterias - search for kosher, luxury, breakfast and many more categories...</p>
    <app-tag-list></app-tag-list>
    <h2 class="bigtitle-title">Search by name:</h2>
    <p>Some Text goes here, some text goes here, some text goes here, some text goes here.</p>
    <a href="#" class="info-link">Learn more...</a>
    
    <a href="#" class="info-link">Learn more...</a>
  </section>

  <section class="bigtitle">
      <h2 class="bigtitle-title">Explore the places</h2>
      <app-place-list></app-place-list>
   
  </section>
</main>


