
<main>


  <section>
    <div class="text-container">
    <div class="searchByTag">
    <h2>Search the food by categories:</h2>
    <p>Find the best place for dinner according to your criterias - search for kosher, luxury, breakfast and many more categories...</p>
    </div>
    <ul class="tags-list">
        <li  *ngFor="let tag of this.tags">
          <a (click)="getPlaces(tag.tagId)"  class="tag-link">{{tag.text}}</a>
        </li>
    </ul>
    <mat-list *ngIf="this.placesByTag.length > 0">
        <mat-list-item  class="place" *ngFor="let place of this.placesByTag">
          <h4 mat-line>{{place.name}}</h4>
          <p mat-line> {{place.description}}</p>
        </mat-list-item>
    </mat-list>
    </div>
  </section>


</main>


